# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\HK1_nam4\QuanLyNhaThuoc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
